////MEDIDAS PANTALLAS
$iphone5-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

//VARIABLES
$colorprimario: #8132a7;
$colorprimariooscuro: #00263a;

$colorsecundario: #707070;

$colorerror: #e0161b;
$coloradvertencia: #e0790b;
$coloradjuntado: #f0de4f;
$coloraprobado: #10ac03; ;
